html {
  background-color: black;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#render-target{
  background-color: white;
}

.error-msg{
  color: gray;
}

::-webkit-scrollbar {
  display: none;
}

#buffer-render-target{
  background-color: white;
  display: none;
}
